<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Cadastro de novo usuário do Amigo Azul</mat-card-title>
    <form
      [formGroup]="usuarioForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="criaUsuario()"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Nome</mat-label>
          <input
            matInput
            type="text"
            name="nome"
            placeholder="nome completo"
            formControlName="nome" 
            id="nome"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            type="email"
            formControlName="email" 
            id="email"
            placeholder="e-mail"
          />
          <mat-error *ngIf="hasError('email', 'required')">campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            name="password"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password" 
            id="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="hasError('password', 'required')">campo obrigatório</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </form>
  </mat-card>
</section>