@import "variables";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/bootstrap-utilities";

@import "resets";

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 30px;
  }
  
  html, body {
    height: 100%;
  }
  
  .text-right {
    text-align: right;
  }
  